body {
  background-image: url(http://ajkochanowicz.github.com/Kickstrap/assets/img/grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: 0 40px;
}

.navbar {
  .navbar-inner {
    border-radius: 0;
    
    .dropdown-toggle {
      .avatar.small { 
        width: 20px; height: 20px; vertical-align:-7px;
        margin-right: 5px;
      }
      
    }
  }
}

.nav-tabs {
  margin-bottom: 0;
}
.tab-content {
  padding: 18px;
  background: white;
  border: 1px solid #ddd;
  border-top: none;
}